<h1>Editing kind user</h1>

<%= render "form", kind_user: @kind_user %>

<br>

<div>
  <%= link_to "Show this kind user", @kind_user %> |
  <%= link_to "Back to kind users", kind_users_path %>
</div>
